@media screen and (min-width: 64em) {
    .grid-container{
    width: 80%;
    padding-left: 6em;
}
}


/* ----- Media------*/

#bg-hero{
    background-image: url(https://via.placeholder.com/1200x600);
    background-position:center;
    background-repeat: no-repeat;
    position: relative;
    height: 30em; /*-- this was the only way I could get it to show--*/
    
}